//button colors
@mixin button-green{
    box-shadow: 0px 0px 10px rgb(139,224,100);
    background: rgb(139,224,100);
    background: linear-gradient(90deg, rgba(139,224,100,1) 27%, rgba(0,217,166,1) 90%); 
}

@mixin button-black{
    box-shadow: 0px 0px 10px rgb(131,131,131);
    background: rgb(131,131,131);
    background: linear-gradient(90deg, rgba(131,131,131,1) 0%, rgba(61,61,61,1) 47%, rgba(0,0,0,1) 79%);
}

//gradients
@mixin gradient-green{
    background: rgb(139,224,100);
    background: linear-gradient(90deg, rgba(139,224,100,1) 27%, rgba(0,217,166,1) 90%); 
}

@mixin gradient-black{
    background: rgb(131,131,131);
    background: linear-gradient(90deg, rgba(131,131,131,1) 0%, rgba(61,61,61,1) 47%, rgba(0,0,0,1) 79%);
}